<div class="h-18 flex items-center justify-between">
  <div class="flex gap-4 items-center justify-center">
    <div class="size-14 rounded-full animate-pulse bg-surface-container"></div>

    <div class="flex flex-col gap-2 text-on-surface font-semibold">
      <div class="flex gap-3 items-center justify-start">
        <div
          class="w-22 h-4 animate-pulse rounded-sm bg-surface-container"></div>
        <div
          class="w-12 h-8 animate-pulse rounded-sm bg-surface-container"></div>
      </div>

      <div class="flex gap-3 items-center justify-start">
        <div
          class="w-18 h-4 animate-pulse rounded-sm bg-surface-container"></div>
      </div>
    </div>
  </div>
</div>
