<div class="flex items-center justify-between">
  <div class="flex gap-4 items-center justify-center">
    <app-coin-icon
      [coinImage]="coinDetailState.coinDetail.value()?.image?.large ?? ''"
      [coinName]="coinDetailState.coinDetail.value()?.name ?? ''"
      size="big" />

    <div class="flex flex-col gap-2 text-on-surface font-semibold">
      <div class="flex gap-3 items-center justify-start">
        <p class="text-3xl font-sora">
          {{ coinDetailState.coinDetail.value()?.name }}
        </p>
        <p
          class="bg-surface-container-high uppercase border border-outline rounded-md px-2 py-1">
          {{ coinDetailState.coinDetail.value()?.symbol }}
        </p>
      </div>

      <div class="flex gap-3 items-center justify-start">
        <p class="text-xl tabular-nums">
          {{
            coinDetailState.coinDetail.value()?.market_data?.current_price?.[
              'usd'
            ] | currency: 'USD'
          }}
        </p>
      </div>
    </div>
  </div>
</div>
