<div class="flex flex-col gap-2">
  <div>
    <app-coin-filters />
    <table
      class="bg-surface-container-low w-full rounded-sm [&_tr]:border-b-2 [&_tr]:border-b-outline-variant [&_th]:py-3 [&_td]:px-4 [&_td]:py-3 [&_td]:text-right [&_th]:text-right [&_th]:font-normal [&_th:first-child]:text-left [&_th:first-child]:pl-4 [&_th:last-child]:pr-4 [&_td:first-child]:text-left text-sm text-on-surface">
      <thead class="text-on-surface">
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>24h Change</th>
          <th>Market Cap</th>
          <th>Volume (24h)</th>
        </tr>
      </thead>
      <tbody>
        @if (coinGecko.marketCoins.isLoading()) {
          @for (_ of [1, 2, 3, 4, 5]; track $index) {
            <tr coinTableSkeleton></tr>
          }
        } @else {
          @for (coin of coinGecko.filteredCoins(); track coin.id) {
            <tr>
              <td>
                <div class="flex items-center gap-4">
                  <app-coin-icon
                    [coinName]="coin.name"
                    [coinImage]="coin.image" />
                  <div>
                    <p class="font-semibold">{{ coin.name }}</p>
                    <p class="uppercase text-xs">{{ coin.symbol }}</p>
                  </div>
                </div>
              </td>
              <td class="font-semibold">
                {{ coin.current_price | currency: 'USD' }}
              </td>
              <td>
                <app-price-change
                  [percentage]="coin.price_change_percentage_24h" />
              </td>
              <td>{{ coin.market_cap | shortCurrency }}</td>
              <td>{{ coin.total_volume | shortCurrency }}</td>
            </tr>
          }
        }
      </tbody>
    </table>
  </div>

  <app-coin-table-pagination />
</div>
