<td>
  <div class="flex items-center gap-4">
    <div class="size-9 animate-pulse rounded-full bg-surface-container"></div>
    <div class="space-y-2">
      <div class="w-14 h-2 animate-pulse rounded-sm bg-surface-container"></div>
      <div class="w-8 h-2 animate-pulse rounded-sm bg-surface-container"></div>
    </div>
  </div>
</td>
<td>
  <div
    class="w-16 h-2 animate-pulse rounded-sm bg-surface-container ml-auto"></div>
</td>
<td>
  <div
    class="w-16 h-6 animate-pulse rounded-sm bg-surface-container ml-auto"></div>
</td>
<td>
  <div
    class="w-16 h-2 animate-pulse rounded-sm bg-surface-container ml-auto"></div>
</td>
<td>
  <div
    class="w-16 h-2 animate-pulse rounded-sm bg-surface-container ml-auto"></div>
</td>
