<aside
  class="fixed inset-y-0 left-0 z-50 flex w-72 flex-col border-r border-r-outline-variant bg-surface-container-low px-4 py-5 shadow-2xl transition-transform duration-200 ease-out sm:static sm:h-full sm:w-3xs sm:translate-x-0 sm:shadow-none"
  [class.-translate-x-full]="!isOpen()">
  <div class="mb-8 px-2">
    <span
      class="text-2xl font-semibold tracking-tight text-on-surface font-sora">
      Crypto Pulse
    </span>
  </div>

  <nav class="flex flex-col gap-2" (click)="navigate.emit()">
    @for (item of sidebarItems; track $index) {
      <app-sidebar-item [item]="item" />
    }
  </nav>
</aside>
