<h2 class="w-38 h-4 mb-5 animate-pulse rounded-sm bg-surface-container"></h2>

<div class="flex flex-col gap-3 divide-y divide-outline-variant">
  @for (item of [0, 1, 2, 3, 4, 5]; track item) {
    <div class="flex items-center justify-between pb-3">
      <div class="flex items-center gap-3">
        <div class="size-9 animate-pulse rounded-sm bg-surface-container"></div>

        <div
          class="w-26 h-3 animate-pulse rounded-sm bg-surface-container"></div>
      </div>

      <div class="w-8 h-4 animate-pulse rounded-sm bg-surface-container"></div>
    </div>
  }
</div>
