<div class="flex items-center justify-end gap-1.5">
  <app-button
    (buttonClicked)="marketState.previousPage()"
    [disabled]="marketState.page() === 0">
    <app-arrow-left-dashed />
  </app-button>

  @for (item of [0, 1, 2, 3, 4]; track item) {
    <app-button
      [active]="marketState.page() === item"
      (buttonClicked)="changePage(item)">
      {{ item + 1 }}
    </app-button>
  }

  <app-button
    (buttonClicked)="marketState.nextPage()"
    [disabled]="marketState.page() === 4">
    <app-arrow-right-dashed />
  </app-button>
</div>
